{% extends 'shop/layouts/main.html' %}

{% block title %}
About Us
{% endblock title %}

{% block content %}
<div class="featured">About Us</div>
<div class="information_page">
    <p class="para">Welcome to ElectronicsComp.com, we are leading distributor of electronics & robotics components. we are working towards excellence in electronics space and believe in pursuing business through innovation and technology. Our team comes with several years of industry experience and comprise of a highly motivated set of specialists & industry experts. Our goal is to be a leader in the industry by providing enhanced services, products, relationship and profitability.
        <br><br>
        We firmly believe that our customers are the reason for our existence, and greatly respect the trust that they place in us. We grow through creativity and innovation. We integrate honesty, integrity and business ethics into all aspects of our business functioning. Our mission is to build long term relationships with our customers. We strive towards delighting our customers at every opportunity through exceptional customer service. Our future looks bright as we continue developing a strong base of key customers and increasing the assets and investments of the company.
    </p>
</div>
{% endblock content %}