{% extends 'shop/layouts/main.html' %}

{% block title %}
Payments
{% endblock title %}

{% block content %}
<div class="featured">Payment</div>
<div class="information_page">
    We accept Payment from all Major Indian Bank through NetBanking, Debit Card, Credit Card and PayUmoney Wallet.
    <br><br>
    <p style="color: rgb(66, 66, 199);">Procedure for Purchasing a Product through NetBanking, Debit Card, Credit Card :-</p>
    <ul class="list">
        <li>Register your self in our website www.electronicscomp.com if you are not registered, other wise login with your account details.</li>
        <li>Add the Products into cart that you want to buy.</li>
        <li>Click on the cart button on top right corner and then in cart click on Checkout after that you will be redirected to Checkout page.</li>
        <li>Enter all the details and select the Shipping option.</li>
        <li>In Payment Section, Select Debit Card, Credit Card and NetBanking option and accept the Terms & Conditions, then click on Confirm Order Button, you will be directed to payment gateway page.</li>
        <li>There are three modes one is Card, 2nd is NetBanking and 3rd is Wallet, select the mode from which you want to pay.</li>
        <li>In Card mode, select Debit Card or Credit card whichever you are using for payment and enter card details and click on Pay Now Button.</li>
        <li>In NetBanking mode, Select the bank from the list and click on Pay Now button.</li>
        <li>In Wallet mode, Select the Wallet from the list and click on Pay Now button.</li>
        <li>After payment, You will be redirected back to our site and order status will be displayed.</li>
        <li>Check the status of your order in Order history tab in My Account section.</li>
    </ul>
</div>
{% endblock content %}