{% extends 'shop/layouts/main.html' %}

{% block title %}
Privacy Policy
{% endblock title %}

{% block content %}
<div class="featured">Privacy Policy</div>
<div class="information_page">
    <p class="para">At Electronicscomp.com, we are extremely proud of our commitment to protect your privacy. We value your trust in us. We work hard to earn your confidence so that you can enthusiastically use our services and recommend your friends and family to participate in dealing with us. Please read the following policy to understand how your personal information will be treated as you make full use of our Site..</p>
    <br>
        <h5>Personal Information</h5>
    <p class="para">When you use our Website, we collect and store your personal information which is provided by you from time to time. Our primary goal in doing so is to provide you a safe, efficient, smooth and customized experience. This allows us to provide services and features that most likely meet your needs, and to customize our Website to make your experience safer and easier. More importantly, while doing so we collect personal information from you that we consider necessary for achieving this purpose.</p>
    <p class="para">In general, you can browse the Website without telling us who you are or revealing any personal information about yourself. Once you give us your personal information, you are not anonymous to us. Where possible, we indicate which fields are required and which fields are optional. You always have the option to not provide information by choosing not to use a particular service or feature on the Website. We may automatically track certain information about you based upon your behaviour on our Website. We use this information to do internal research on our users' demographics, interests, and behaviour to better understand, protect and serve our users. This information is compiled and analysed on an aggregated basis. This information may include the URL that you just came from (whether this URL is on our Website or not), which URL you next go to (whether this URL is on our Website or not), your computer browser information, and your IP address.</p>
    <p class="para">Electronicscomp.com promises that we will not sell or rent your personal information to third parties for their marketing purposes without your explicit consent. From time to time we may reveal general statistical information about our Web site and visitors, such as number of visitors, number and type of goods and services purchased, etc. Your trust and confidence are our highest priority. We will not use your financial information for any purpose other than to complete a transaction with you.</p>
    <br>
    <h5>Communication</h5>
    <p class="para">From time to time we may send out email messages alerting you promotional, marketing offers or availability of products or providing feedback of our service and feedback.We provide all users with the opportunity to opt-out of receiving these communications from us on behalf of our partners, and from us in general, after setting up an account.If you want to remove your contact information from all newsletters, please visit unsubscribe link or contact us through contact us link.</p>
    <br>
    <h5>Cookies</h5>
    <p class="para">A cookie is a small piece of information stored by a web server on a web browser so it can be later read back from that browser. Cookies are useful for enabling the browser to remember information specific to a given user. We place both permanent and temporary cookies in your computer's hard drive. The cookies do not contain any of your personally identifiable information.</p>
    <br>
    * Electronicscomp.com reserves the right to change any policy mentioned above without prior notice.
</div>
{% endblock content %}