{% extends 'shop/layouts/main.html' %}

{% block title %}
Shipping, Cancellation, Returns & Refund Policy
{% endblock title %}

{% block content %}
<div class="featured">Shipping, Cancellation, Returns & Refund Policy</div>
<div class="information_page">
        <ul class="list">
            <li>We ship the products all over India.</li>
            <li>We ship through reputed courier companies including Bluedart, Fedex, Delhivery, Ecom Express, India Post, Xpress Bees and others to ensure safe and fast delivery.</li>
            <li>Delivery can take 2-5 working days for metro cities and 4-7 working days for rest of the India.</li>
            <li>If Product is in stock, we dispatch the product with in 48 hours of your order otherwise we will inform you by mail about availability of the product with in 2-3 days.</li>
            <li>In case if we are unable to deliver the product through courier then we deliver it through India Post.</li>
            <li>Any delay caused by courier company or India post is not our responsibility.</li>
            <li>If product is defective, damaged or broken, contact us with in 4 Days of delivery otherwise no return or refund claims will be entertained.</li>
            <li>If Product is not working, contact us with the testing proof of the product received from us, without testing proof no return or refund claims will be entertained.</li>
            <li>shipping charges are extra that depends on weight and quantity of product and comes automatically when you purchase a product.</li>
            <li>If reverse pickup has been arranged for defective/damaged products, after receiving the products back refund/replacement can be initiated.</li>
            <li>For reverse Pickup, Shipping Label of courier will be sent to customer email id and Label should be pasted on the box with original packing.</li>
            <li>Returns and warranty, if any , have been mentioned with particular products in product information page.</li>
            <li>We accept returns in case of wrong product delivery with original packing with in 2 days.</li>
            <li>Once order is confirmed, no cancellation will be entertained.</li>
            <li>If order is prepaid and customer did not accept, receive or collect the courier or return the courier then shipping charges and return charges will be deducted from the prepaid amount and rest will be refunded back after evaluating the issue.</li>
            <li>If order is cancelled by our end for any reason, we will refund the full amount back to your account or card whichever is applicable with in 10 working days.</li>
            <li>If order is failed or cancelled and money gets deducted from your account, then your paid amount will be automatically refunded back to your card or account whichever is applicable.</li>
        </ul>
</div>
</body>
{% endblock content %}